* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-custom {
    background-color: lightgray;
}
input {
    padding: 5px;
}
input:focus {
    outline: blue !important;
    /* border: 2px solid blue !important; */
}
.save input {
    width: 20%;
    margin:  0 1%;
}